

.overlay-container {
    position: relative;
    overflow-y: scroll;
}

.progress-overlay {
    background-color: var(--neutral-layer-1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
}

    .progress-overlay.hide {
        visibility: hidden;
        opacity: 0;
        /*transition: opacity 2s ease-out;*/
        transition: opacity 500ms ease-out, visibility 0ms ease-out 500ms;
    }

.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
